body {
  height: 100%;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  margin-bottom: 0px;
}

.post-conatainer {
  flex: 1;
  max-width: 1000px;
  background: #e7eaf6;

  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0.5px rgb(185, 185, 185);
  padding-bottom: 10px;
}

.photo {
  border-top-left-radius: 10px;
  width: 70px;
  margin-top: 0;
}

.user-name {
  display: flex;
  align-items: center;
}

.photo-user {
  display: flex;
}

.user-name {
  display: flex;
  flex: 1;
  color: #113f67;

  font-size: 30px;
  font-weight: bold;

  padding-left: 20px;
  align-items: center;
  background: #a2a8d3;
  height: 70px;

  border-bottom-style: solid;
  border-color: rgb(236, 236, 236);
  border-bottom-width: 0.01px;
}

.post-title {
  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 20px;
  padding-right: 20px;

  font-size: 20px;
  font-weight: 600;
  color: #113f67;
}

.post-body {
  color: #113f67;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
