.comments-email {
  font-size: 15px;
  margin-bottom: 5px;
  color: gray;
}

.commment-container {
  display: block;
  padding-bottom: 10px;
  color: #113f67;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.show-all-comments {
  display: none;
}
