.post-conatainer {
  flex: 1;
  max-width: 1000px;
  background: #e7eaf6;

  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0.5px rgb(185, 185, 185);
  padding-bottom: 10px;
}

.photo {
  border-top-left-radius: 10px;
  width: 70px;
  margin-top: 0;
}

.user-name {
  display: flex;
  align-items: center;
}

.photo-user {
  display: flex;
  cursor: pointer;
  transition: opacity 0.1s;
}

.photo-user:hover {
  opacity: 0.7;
}

.user-name {
  display: flex;
  flex: 1;
  color: #113f67;

  font-size: 30px;
  font-weight: bold;

  padding-left: 20px;
  align-items: center;
  background: #a2a8d3;
  height: 70px;

  border-bottom-style: solid;
  border-color: rgb(236, 236, 236);
  border-bottom-width: 0.01px;
}

.post-title {
  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 20px;
  padding-right: 20px;

  font-size: 20px;
  font-weight: 600;
  color: #113f67;
}

.commments-container,
.post-body {
  color: #113f67;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-constainer {
  display: flex;

  border-top: solid;
  border-width: 0.01px;
  border-color: rgb(197, 197, 197);

  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.comments-link {
  color: #113f67;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.comments-link:hover {
  opacity: 0.7;
}

.commments-container {
  border-width: 0.1px;
  margin-top: 10px;
}
